$text-color: #003776;
$hover-color: #F22248;

$accent-hover: #FFD03D;
$accent-color: #FFD800;
$lang-select: #FFF;
$border-color: rgba(0, 55, 118, 0.1);
$btn-bg: #FFF;

$catalog-bg: #F5F5F5;

$hidden-menu: #FFF;
$btn-burger: #003776;

$modal-bg: #fff;


